.detail-page {
  background: #ffffff;
  box-shadow: 0 0 14px 2px rgba(0, 0, 0, 0.08);
  border-radius: 2px;
  border-radius: 2px;
  margin: 0 24px;
  .image-content {
    text-align: center;
    .card-img {
      display: inline-block;
      height: 225px;
      width: 300px;
      background-size: cover;
      background-position: center center;
    }
  }

  .detail-info {
    padding: 0 24px;
    margin-bottom: 24px;
    .name-infos {
      view {
        margin-bottom: 12px;
      }
      text-align: center;
      .ke-shu {
        font-size: 28px;
        color: #7b7b7b;
      }
      .name {
        font-size: 36px;
        color: #131313;
      }
      .latinname {
        font-size: 28px;
        color: #7b7b7b;
        text-align: center;
      }
    }

    .info-item {
      padding-bottom: 48px;
      .info-title {
        font-size: 32px;
        color: #131313;
      }

      .info-content {
        margin-top: 24px;
        font-size: 28px;
        color: #353535;
      }
    }
  }

  .share-content {
    text-align: center;
    position: fixed;
    bottom: 50px;
    width: 100%;
    .share-btn {
      background: #05e7cb;
      border-radius: 4px;
      border-radius: 4px;
      color: white;
      height: 80px;
      width: 155px;
      font-size: 28px;
      line-height: 80px;
    }
  }
}
