.detail-page {
  .detail-info {
    padding: 0 24px;
    .name-infos {
      text-align: center;
      .ke-shu {
        font-size: 28px;
        color: #7b7b7b;
      }
      .name {
        font-size: 36px;
        color: #131313;
      }
      .latinname {
        font-size: 28px;
        color: #7b7b7b;
        text-align: center;
      }
      margin-bottom: 48px;
    }

    .info-item {
      margin-bottom: 48px;
      .info-title {
        font-size: 32px;
        color: #131313;
      }

      .info-content {
        margin-top: 32px;
        font-size: 28px;
        color: #353535;
      }
    }
  }
}
