.share-page {
  #share-canvas {
    box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.05);
    margin-left: 50px;
    border-radius: 10px;
    margin-top: 10px;
  }

  .share-btns {
    display: flex;
    margin-top: 50px;
    border-radius: 4px;
    border-radius: 4px;
    .share-btn {
      background: #05e7cb;
      color: white;
    }

    .save-img {
      background: #b9b9b9;
      color: #353535;
    }
    button {
      font-size: 28px;
      line-height: 80px;
      width: 266px;
      height: 80px;
    }
  }
}
